@font-face {
    font-family: 'Dutch811';
    src: url('../fonts/dutch_811_bt-webfont.woff2') format('woff2'),
    url('../fonts/dutch_811_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

#instructions {
    display: none;
    position: absolute;
    width: 400px;
    background-color: white;
    box-shadow: 0 0 10px grey;
    border-radius: 6px;
    padding: 4px 12px;
}

#credits {
    font-size: 0.75em;
    color: #6c6c6c;
    text-align: center;
}

#tooltip {
    display: none;
    position: absolute;
    pointer-events: none;
    min-width: 200px;
    padding: 5px 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, .5);
    color: white;
}

#tooltip p {
    line-height: 1.5em;
    margin: 0;
}

p.tooltip-metadata {
    font-size: 0.75em;
}

#footer {
    height: 50px;
    background-color: #333;
    color: white;
    display: flex;
    padding: 5px 50px;
    box-sizing: border-box;
}

#footer div {
    flex: 1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#footer div label {
    margin: 0 10px;
}
