@font-face {
    font-family: 'Dutch811';
    src: url('../fonts/dutch_811_bt-webfont.woff2') format('woff2'),
    url('../fonts/dutch_811_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

#instructions {
    display: none;
    position: absolute;
    width: 400px;
    background-color: white;
    box-shadow: 0 0 10px grey;
    border-radius: 6px;
    padding: 4px 12px;
}

#footer {
    height: 50px;
    background-color: #333;
    color: white;
    display: flex;
    padding: 5px 50px;
    box-sizing: border-box;
}

#footer div {
    flex: 1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#footer div label {
    margin: 0 10px;
}
